<%- include('header') -%>
  <div class="wrapper">
    <div class="container index-container home-page">

      <div class="row">
        <div class="left-div">
          <img src="displaypics/<%= pic %>" alt="display picture" class="profpic">
        </div>


        <div class="mid-div">
          <h1>Welcome,
            <%= name %>!</h1>
          <h2 id="curr-date"></h2>

          <div class="inner-btns">
            <a href="/" class="btn btn-custom">Home</a>
            <a href="/manage-course" class="btn btn-custom">Manage Courses</a>
            <a href="#" class="btn btn-custom">People</a>
          </div>
          <div class="clearfix"></div>
        </div>


        <div class="right-div">
          <% if(isAuthenticated){ %>
            <a href="/logout" class="btn btn-custom btn-logout">Logout</a>
            <% } %>
        </div>
      </div>


      <hr>
