
      <div class="clearfix"></div>

      
    </div>
  </div>


  </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>
  var month_names = new Array("January", "February", "March", 
"April", "May", "June", "July", "August", "September", 
"October", "November", "December");
var d = new Date();
var month = d.getMonth();
var day = d.getDate();
var output = (day<10? '0' : '') + day + " " + month_names[month] + ", " + d.getFullYear();
$('#curr-date').html(output);
//console.log(output);
</script>
  

  <%- include('footer') -%>