
<%- include('./partials/header') -%>
  

  <div class="wrapper">
    <div class="container index-container cont-width">

      <h1>
        <%= title %> - Are you lost?
      </h1>
      <hr>
      <center>
      <h2>You messed up!</h2>
      <a href="/">Click here to redirect</a>
    </center>

    </div>
  </div>


<%- include('./partials/footer') -%>