<%- include('header') -%>

<div class="container index-container">
  <div class="row">
    
    <div class="col-12 col-r-style">
      <div class="r-inner">
        <h1><%= title %></h1>
        <hr>
        
        

      </div>
    </div>
  </div>
</div>

<%- include('footer') -%>
