<%- include('header') -%>

<div class="container index-container">
  <div class="row">
    
    <div class="col-12 col-r-style">
      <div class="r-inner">
        <h1>Welcome, <%= name %>!</h1>
        <hr>
        
        <% if(isAuthenticated){ %>
        <img src="displaypics/<%= pic %>" alt="display picture">
        <a href="/logout" class="btn btn-custom" value="Submit">Logout</button>
        <% } %>
      </div>
    </div>
  </div>
</div>

<%- include('footer') -%>
